@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Text:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
/* Set a light green background for the entire website */
body {
    font-family: 'DM Serif Text', serif; /* Primary font for body text */
    background-color: #fcfff9;                /* Light green background */
    color: #1a3d11;                           /* Dark green text */
    margin: 0;
}
  
h1, h2, h3 {
    font-family: 'DM Serif Text', serif; /* Use Arvo for headings */
  }
  
